    <nav class="navbar navbar-inverse navbar-fixed-top" id="page-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Society Speakers London Toastmasters Club</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll"><a href="#about-us">About Us</a></li>
                    <li class="page-scroll"><a href="#meetings">Meetings</a></li>
                    <li class="page-scroll"><a href="faq.html">FAQ</a></li>
                    <li class="page-scroll"><a href="contact.html">Contact</a></li>
                    <li class="nav-social">
                        <a href="https://www.facebook.com/SocietySpeakers" class="btn-social"><img src="images/facebook.png"/></a>
                    </li>
                    <li class="nav-social">
                        <a href="https://twitter.com/SocietySpeakers/" class="btn-social"><img src="images/twitter.png"/></a>
                    </li>                
                </ul>
            </div>
        </div>
    </nav>